[class*="am-u-"] {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
  position: relative;
}
@media only screen and (min-width:641px) {
  .am-u-md-6 {
    width: 50%;
  }
}

/* ==========================================================================
   Component: Grid
 ============================================================================ */
.am-g {
  margin: 0 auto;
  width: 100%;
}
.am-g:before,
.am-g:after {
  content: " ";
  display: table;
}
.am-g:after {
  clear: both;
}
.am-g .am-g {
  margin-left: -1rem;
  margin-right: -1rem;
  width: auto;
}
.am-g .am-g.am-g-collapse {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
@media only screen and (min-width:641px) {
  .am-g .am-g {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
.am-g.am-g-collapse .am-g {
  margin-left: 0;
  margin-right: 0;
}
.am-g-collapse [class*="am-u-"] {
  padding-left: 0;
  padding-right: 0;
}
.am-g-fixed {
  max-width: 1000px;
}